/* Load BMW fonts */
@font-face {
    font-family: 'bmwtyperegular';
    src: url('../fonts/bmwtyperegular-webfont.eot');
    src: url('../fonts/bmwtyperegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bmwtyperegular-webfont.woff') format('woff'),
         url('../fonts/bmwtyperegular-webfont.ttf') format('truetype'),
         url('../fonts/bmwtyperegular-webfont.svg#bmwtyperegularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, div, span, h1, h2, h3, h4, h5, h6, ul, ol, li, p{
	font-family: bmwtyperegular, Arial, Verdana, Helvetica, sans-serif !important;
}
body {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 12px;
	line-height: 14px;
}
.ci-box {
	position: fixed;
	right: 105px;
	top: 0;
}

.no-gutter-right {
	padding-right: 0;
	margin-right: 3px;
}
.no-gutter-left {
	padding-left: 0;
}
.help-block {
	position: absolute;
	top: -14px;
	margin-top: 0;
	margin-bottom: 0;
	color: #a94442;
}
.load {
	display: none;
	position: absolute;
	right: 33%;
	top: 4px;
}
.response {
	display: none;
	background-color: #dff0d8;
	border: 1px solid #b2dba1;
	color: #3c763d;
	padding: 3px 10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	border-radius: 4px;
	width: 300px;
	float: left;
}

span.bg-danger {
	line-height: 0;
}
.alert {
	position: absolute;
	width: 100%;
}
.btn-primary {
	background: -webkit-linear-gradient(#0195fb, #1a6cd7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#0195fb, #1a6cd7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0195fb, #1a6cd7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0195fb, #1a6cd7); /* Standard syntax */ 
	color: #fff;
	border-radius: 0;
	border: 0;
	padding: 7px 35px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
}

/*OUTER PAGE */
#page .container {
	padding: 100px 15px;
}
#page h3 {
	font-size: 26px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
}
#page #description {
	margin: 30px 0 50px;
}
#page h3 , #page #description {
	margin-right: 30px;
}
#page #description p {
	margin-bottom: 15px;
}
#page #home .btn-primary {
	margin-top: 30px;
}
#page .segment {
	margin-top: 26px;
}
#page #survey .question {
	padding: 10px 0;
}
#page .form-control, #page .form-control, #page .segment-description, input::-webkit-input-placeholder, input:-moz-placeholder, input:-ms-input-placeholder {
	color: #333333;
}
#page .form-control {
	border-radius: 0;
	height: 28px;
	margin-bottom: 10px;
}
#page .form-control, #page h5 {
	font-size: 12px;
}
#page h5 {
	text-transform: uppercase;
	color: #1378e1;
	font-weight: bold;
}
#page .segment-description {
	font-weight: normal;
	text-transform: none;
}
#page select {
	width: 100%;
	padding: 5px 10px;
	font-size: 12px;
	outline: none;
	color: #333333;
}
#page select{
	overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff url("../images/dropdown.png") no-repeat right center;
}

#survey .input-xs {
	width: 18px;
	height: 18px;
	font-size: 11px;
	text-align: center;
	margin-right: 5px;
}

#survey input {
	margin-top: 5px;
	margin-bottom: 5px;
}
#survey input, #survey label {
	margin-left: 5%;
}
#survey label {
	font-weight: normal;
	margin-bottom: 10px;
}

/* Modal */
#registrationCompleteModal {
	position: fixed;
	display: inline-block;
}
#registrationCompleteModal {
	background-color: rgba(0,0,0,0.8);
}
#registrationCompleteModal .modal-content {
	border-radius: 0;
	background-color: transparent;
	color: #fff;
	box-shadow: none;
	border: 0;
	text-align: center;
}
#registrationCompleteModal .modal-dialog {
	margin: 10% auto;
}
#registrationCompleteModal h3 {
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 30px;
}
#registrationCompleteModal p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}
#registrationCompleteModal .btn {
	font-size: 14px;
	padding: 5px 35px;
}
